{% extends 'base.html' %}

{% block content %}

<h1><i class="material-icons md-72">create</i> Quizes created by you</h1>

<table style="width:100%">
  <tr>
    <th>QUIZ</th>
    <th>ADD QUESTION</th>
    <th>RESULT</th>
  </tr>
  {% for quiz in quizes %}
  <tr>
    <td><a href="{% url 'quiz:question_list' slug=quiz.slug %}"><i class="material-icons md-36">assignment</i>{{quiz.title}}</a></td>
    <td><a href="{% url 'quiz:question_create' slug=quiz.slug %}"><i class="material-icons md-36">add_box</i> <span>Add Questions</span> </a></td>
    <td><a href="{% url 'leaderboard:reportcard' slug=quiz.slug%}"><i class="material-icons md-36">people</i><span>See Participants</span></a></td>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'quiz:quiz_list' %}">Back to main page</a>
{% endblock %}
