{% extends "base.html" %}

{% block content %}

  <form class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" action="" method="post">
    <h1 class="w3-padding-32 w3-text-blue w3-white w3-text-blue w3-circle w3-center">Updating</h1>
    <hr>
    {% csrf_token %}
    {{ form.as_p }}
    <input class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding" type="submit" value="Update">
    <input class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding" type="submit" onclick="window.location='{% url 'quiz:my_quiz'%}' ; return false;" value="Cancel">
  </form>

{% endblock %}
