{% extends 'base.html' %}

{% block content %}

{% if quiz.author == request.user %}
    <h1>Questions</h1>
    <div class="questions">

      <form action="{% url 'quiz:question_list' slug=slug%}" method="post">

        {% for question in questions %}
        {% csrf_token %}

        <div class="question">
          <h2><i class="material-icons md-36">help</i>{{question.question}}</h2>

          <h3><a href="{% url 'quiz:question_update' question.id %}"><i class="material-icons">create</i>Edit</a> |
            <a href="{% url 'quiz:question_delete' question.id %}"><i class="material-icons">delete</i>Delete</a></h3>
          {% if question.diagram %}

          <img src="{{question.diagram.url}}" alt="diagram"/><br>
          <p>{{question.diagram.url}}</p>
          {% endif %}

          <input type="radio" name="{{question.id}}" value="{{question.option1}}">
          <label for="{{question.option1}}">{{question.option1}}</label><br>
          <input type="radio" name="{{question.id}}" value="{{question.option2}}">
          <label for="{{question.option2}}">{{question.option2}}</label><br>
          <input type="radio" name="{{question.id}}" value="{{question.option3}}">
          <label for="{{question.option3}}">{{question.option3}}</label><br>
          <input type="radio" name="{{question.id}}" value="{{question.option4}}">
          <label for="{{question.option4}}">{{question.option4}}</label><br>
        </div>

        {% endfor %}

      </form>

    </div>

    {% else %}

    <h1>You are not authorized to visit...</h1>

    {% endif %}
{% endblock %}
