{% extends 'base.html' %}

{% block content %}
    <h1>Available Quizes ...</h1>
    <div class="quizes">
      {% for quiz in quizes %}
      <div class="quiz">

        <h2><a href="{% url 'quiz:question_list' slug=quiz.slug %}">{{quiz.title}}</a></h2>

      </div>

      {% endfor %}

      <ul>
        <li><a href="{% url 'quiz:question_create' %}">Create a new question</a></li>
        <li><a href="{% url 'quiz:quiz_create' %}">Create a new quiz</a></li>
      </ul>

    </div>
{% endblock %}
