{% extends 'base.html' %}

{% block content %}
    <h1 class="w3-padding-32 w3-white w3-circle w3-text-blue w3-center" style="font-family:cursive">Available Quizes ...</h1>


    <div class="w3-container" style="color:black;">
      <input class="w3-input w3-border w3-padding" type="text" placeholder="Search for quiz.." id="myInput" onkeyup="myFunction()">

      <table class="w3-table-all w3-margin-top w3-text-blue" id="myTable">
        <tr>
          <th style="width:60%;">Quiz</th>
          <th style="width:50%;">Examiner</th>
        </tr>

        {% for quiz in quizes %}
        <tr>
          <td><a style="color:brown;" href="{% url 'quiz:exam' slug=quiz.slug %}"><i class="material-icons">assignment</i>  {{quiz.title}}</a></td>
          <td style="color:black;"><i class="material-icons">person</i>  {{quiz.author}}</td>
        </tr>

        {% endfor %}

      </table>

    </div>

    <script>
    function myFunction() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>

{% endblock %}
