body{
  background-color: #0f121f;
  background-repeat: no-repeat;
  color: #fff;
}

body*{
  font-family: Ubuntu;
}

h1, h2, h3, h4{
  font-weight: normal;
  margin: 0;
}

h1{
  color:#00dba0;
  font-family:cursive;
  font-weight:bold;
  font-size:3em;
}

a, a:visited{
  color: #fff;

  text-decoration: none;
}

a:hover{
  color:#00dba0;
}

.question{
  margin-left: 1%;
  margin-right: 1%;
  margin-top:20px;
  margin-bottom:20px;
  border: 3px ridge #00dba0;
  border-radius:23px;
  padding:30px;
}

.about{
  border: 3px ridge #00dba0;
  border-radius:20px;
  padding:20px;
  font-size:1.4em;
  font-family:cursive
}

.warning{
  color:red;
}

.site-form{
  margin-top:60px;
  border: 3px ridge #00dba0;
  border-radius:20px;
  padding:20px;
}

.site-form input, .site-form textarea{
  display:block;
  margin: 20px 0 0 0;
  padding: 5px;
}

.helptext, .helptext ul{
  margin: 0 auto 20px;
  color:#bbb;
  font-size: 0.9em;
  display:block;
}

.errorlist li{
  padding: 10px;
  list-style-type: none;
  border: 2px ridge #ff5722;
  color:#ff5722;
  margin:10px 0;
}

.errorlist{
  padding:0;
}

.site-form input[type="submit"]{
  background-color: #00dba0;
  border:0;
  color:#fff;
  font-family:cursive;
  font-weight:bold;
  font-size:1.6em;
  border-radius: 4px;
  margin: 10px 0;

}

.questions input[type="submit"]{
  background-color: #00dba0;
  border:3px ridge yellow;
  color:#fff;
  font-family:cursive;
  font-weight:bold;
  font-size:1.6em;
  border-radius: 4px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top:20px;
  margin-bottom:20px;
  padding:10px;
  width:60%;
}

.wrapper{
  max-width: 960px;
  margin: 0 auto;
}

.wrapper form p label{
  color:#00dba0;
}

.wrapper form p input{
  border: 3px ridge #00dba0;
}

.wrapper form p select{
  border: 3px ridge #00dba0;
}

.wrapper form p textarea{
  border: 3px ridge #00dba0;
}


div.wrapper h1{
  text-align:center;
  margin: 60px auto;
}

.quiz li{
  display:inline-block;
}

nav{
  width: 100%;
  background-color: #555;
  overflow: auto;
}

nav a{
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

@media screen and (max-width: 500px) {
  .nav a {
    float: none;
    display: block;
  }
}

button{
  background: #0f121f;
  color:white;
  cursor: pointer;
}

.quizes{
  border: 4px ridge #00dba0;
  border-radius:14px;
  padding:20px 0;
  height: 390px;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #00dba0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #79caaa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00dba0;
}

.quiz h2 a{
  color:yellow;
  font-family:cursive;
  font-weight:800;
}

.result-h{
  color:yellow;
  font-size:1.5em;
  font-weight:bold;
}

.result{
  font-size:2em;
  font-weight:lighter;
  font-family:cursive
}

table, th, td {
  border: 4px ridge yellow;
  border-radius: 4px;
  border
}

th, td {
  padding: 15px;
  font-family: cursive;
}

label > input[type="radio"] {
  display: none;
}

label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 0.9rem;
  padding:2px;
  height: 0.9rem;
  margin-right: 0.3rem;
  border-radius:30%;
  border-style: solid;
  border-width: 0.12rem;
  border-color: yellow;
}

label > input[type="radio"]:checked + *::before {
  background: radial-gradient(#00dba0 0%, #00dba0 40%, transparent 50%, transparent);
  border-color: #00dba0;
}
label > input[type="radio"]:checked + * {
  color: #00dba0;
}

.question h2{
  font-size:2.0em;
  font-family:cursive;
  font-size:bold;
}

label{
  padding:10px;
  font-family:cursive;
  font-size:1.5em;
}

caption{
  font-size:2em;
  font-family:cursive;
  color:#ccc;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-72 { font-size: 72px;  }
