body{
  background-color: #969a9e47;
  background-repeat: no-repeat;
  color: #555555;
}

body*{
  font-family: Ubuntu;
}

h1, h2, h3, h4{
  font-weight: normal;
  margin: 0;
}

a {
  text-decoration:none;
}

h1{
  color:#00dba0;
  font-family:cursive;
  font-weight:bold;
  font-size:3em;
}


a:hover{
  color:#2196f3;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

.helptext, .helptext ul{
  margin: 0 auto 20px;
  color:#650d0d;
  font-size: 0.9em;
  display:block;
}

.errorlist li{
  padding: 10px;
  list-style-type: none;
  border: 2px ridge #9040108a;
  color:#f80303;
  margin:10px 0;
}

.errorlist{
  padding:0;
}


.wrapper{
  max-width: 960px;
  margin: 0 auto;
  height: 100px;
}

.wrapper form p label{
  color:#2196f3;
}

div.wrapper h1{
  text-align:center;
  margin: 60px auto;
}

.quiz{
  display: block;
  padding:10px;
  margin-left:10%;
  margin-right:10%;
}

nav{
  width: 100%;
  background-color: #555;
  overflow: auto;
}

nav a{
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;

}

@media screen and (max-width: 500px) {
  .nav a {
    float: none;
    display: block;
  }
}

button{
  background: #0f121f;
  color:white;
  cursor: pointer;
}

label > input[type="radio"] {
  display: none;
}

label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 0.9rem;
  padding:2px;
  height: 0.9rem;
  margin-right: 0.3rem;
  border-radius:30%;
  border-style: solid;
  border-width: 0.12rem;
  border-color: teal;
}

label > input[type="radio"]:checked + *::before {
  background: radial-gradient(#009688 0%, #009688 40%, transparent 50%, transparent);
  border-color: #009688;
}
label > input[type="radio"]:checked + * {
  color: #009688;
}

label{
  padding:10px;
  font-family:cursive;
  font-size:1.5em;
}

caption{
  font-size:2em;
  font-family:cursive;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-72 { font-size: 72px;  }
