{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SansQuiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static "quiz/styles.css" %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <header class="wrapper">
          {% if user.is_authenticated %}

<div class="w3-top">
  <div class="w3-bar w3-blue w3-text-white w3-border">
    <a href="{% url 'quiz:quiz_list' %}" class="w3-bar-item w3-button w3-light-grey"> <i class="material-icons">home</i>  Home</a>
    <a href="{% url 'quiz:my_quiz' %}" class="w3-bar-item w3-button"> <i class="material-icons">folder_special</i>  My Quiz</a>
    <a href="{% url 'quiz:quiz_create' %}" class="w3-bar-item w3-button"> <i class="material-icons">note_add</i> Create Quiz</a>
    <a href="{% url 'leaderboard:attempts' %}" class="w3-bar-item w3-button"> <i class="material-icons">analytics</i> Analytics</a>
    <a href="{% url 'feedback:feed_back' %}" class="w3-bar-item w3-button"> <i class="material-icons">feedback</i> FeedBack</a>
    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
      {% csrf_token %}
      <button class="w3-bar-item w3-button" type="submit">Logout</button>

    </form>

  </div>
</div>
          {% else %}
<div class="w3-top">
  <div class="w3-bar w3-blue w3-text-white">
    <a href="{% url 'accounts:login' %}" class="w3-bar-item w3-button">Login</a>
    <a href="{% url 'accounts:signup' %}" class="w3-bar-item w3-button">Signup</a>
  </div>
</div>
          {% endif %}
    </header>

    <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
