{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SansQuiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static "quiz/styles.css" %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <header class="wrapper">
          {% if user.is_authenticated %}

            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Logout</button>

            </form>
    <nav>
          <a href="{% url 'quiz:my_quiz' %}"><i class="material-icons">folder_special</i> My Quiz</a>
          <a href="{% url 'quiz:quiz_create' %}"><i class="material-icons">note_add</i> Create A New Quiz</a>
          <a href="{% url 'leaderboard:attempts' %}"><i class="material-icons">analytics</i> Analytics</a>
          <a href="{% url 'feedback:feed_back' %}"><i class="material-icons">feedback</i> FeedBack </a>
          {% else %}
    <nav>
          <a href="{% url 'accounts:login' %}">Login</a>
          <a href="{% url 'accounts:signup' %}">Signup</a>
    </nav>
          {% endif %}
    </header>

    <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
