{% extends 'base.html' %}

{% block content %}

{% if reports %}
<h1 class="w3-padding-32 w3-white w3-circle w3-text-blue w3-center" style="font-family:cursive">Analytics</h1>

<div class="w3-container">

<table class="w3-table-all w3-card-4 w3-text-blue" style="color:black">
  <caption class="w3-card w3-centre w3-white">Reports</caption>
  <tr>
    <th>QUIZ</th>
    <th>SCORE</th>
  </tr>
  {% for report in reports %}
  <tr>
    <td style="color:brown"><i class="material-icons">assignment</i>{{report.quiz}}</td>
    <td style="color:black">{{report.score}}</td>
  </tr>
  {% endfor %}
</table>

</div>

{% else %}

<h1>You have not tried any quiz yet...</h1>
<h2><a href="{% url 'quiz:quiz_list' %}">Try Here ...</a></h2>

{% endif %}

{% endblock %}
