{% extends 'base.html' %}

{% block content %}
<h1 class="w3-padding-32 w3-white w3-circle w3-text-blue w3-center" style="font-family:cursive">Report Card</h1>

<div class="w3-container">
<table class="w3-table-all w3-card-4 w3-text-blue" style="color:black">
  <caption class="w3-card w3-centre w3-white">Reports</caption>
  <tr>
    <th>PARTICIPANT</th>
    <th>SCORE</th>
    <th>RESPONSE</th>
  </tr>
  {% for report in reports %}
  <tr>
    <td style="color:black"><i class="material-icons">person</i>{{report.student}} <span class="w3-badge w3-green">{{report.attempt}}</span></td>
    <td style="color:black">{{report.score}}</td>
    <td><a style="color:black" href="{% url 'quiz:responses' slug=slug userid=report.student.id %}">Response </a></td>
  </tr>
  {% endfor %}
</table>
</div>

<a href="{% url 'quiz:quiz_list' %}">Back to main page</a>

{% endblock %}
